# ============================================================
# common library
# ============================================================
pandas>=2.0.0
python-dotenv>=1.0.0
requests>=2.31.0
setuptools==69.5.1     


# ============================================================
# sector/
# ============================================================
pykrx>=1.0.45           
beautifulsoup4>=4.12.0  
lxml>=4.9.0             


# ============================================================
# bull-bear/
# ============================================================
pandas_ta; python_version >= "3.12"
openai>=1.0.0

# ============================================================
# macro/
# ============================================================
scikit-learn>=1.3.0
statsmodels>=0.14.0

# ============================================================
# market/
# ============================================================
yfinance>=0.2.38        
google-generativeai>=0.8.0  
numpy>=1.24.0